body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* General */
.jumbotron {
    background: #E6E6FA;
}
a {
    color: #b1b7bd;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #E6E6FA;
    text-decoration: none;
}
p a {
    color:#9686a9 ;
}
p a:hover {
    color: #785b74;
}
h2 a {
    color: black;
}

h2 a:hover {
    color: black;
    text-decoration: underline
}
/* Nav bar dropdown*/
.nav > .nav-item .dropdown {
    display: block;
    padding: .5rem;
}
.dropdown-menu {
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0;
    left: 0;
    padding: 0.5rem;
    background: #343A40;
    border: none;
    display: none;
}
browse-recipes > .dropdown-menu > .dropdown-item {
    display: block;
    float: left;
    padding: .7rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
.browse-recipes > .nav-link {
    white-space: nowrap;
}
/* Table */
tr td div {
    height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* Buttons */
.btn-submit {
    color: white;
    background: #9686a9;
    border: #9686a9;
}
.btn-submit:hover, .btn-submit:active, .btn-submit:focus, .btn-submit:disabled {
    color: white;
    background: #785b74;
}
.btn-outline-search {
    color: #E6E6FA;
    border-color: #E6E6FA;
}
.btn-outline-search:hover {
    color: #212529;
    background-color: #E6E6FA;
    border-color: #E6E6FA;
}

/* Search bar */
.search-container {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 1;
}

    .search-container input[type=search] {
        background: #343A40;
        margin: 0 8px 0 0;
        flex-shrink: 1;
    }

        .search-container input[type=search]:focus {
            color: white;
        }

/* Category thumbnail */
.category-thumbnail {
    margin-bottom: 1.5em;
}
.category-thumbnail h2 {
    line-height: 1.5em;
}

/* Recipes */
.recipe-thumbnail {
    margin-bottom: 1.5em;
}
.recipe-thumbnail h2 {
    text-align: center;
    font-size: 1.8em;
    line-height: 1.5em;
}

/* width between 768 and 991px */
@media screen and (max-width: 991px) and (min-width: 768px) {
    .category-thumbnail h2 {
        font-size: 1.5em;
    }
}
