body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a {
    color: #b1b7bd;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #E6E6FA;
    text-decoration: none;
}
p a {
    color:#9686a9 ;
}
p a:hover {
    color: #785b74;
}
tr td div {
    height: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.jumbotron {
    background: #E6E6FA;
}
.btn-submit {
    color: white;
    background: #9686a9;
    border: #9686a9;
}
.btn-submit:hover, .btn-submit:active, .btn-submit:focus, .btn-submit:disabled {
    color: white;
    background: #785b74;
}
.recipe-thumbnail h2 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.5em;
}
.recipe-thumbnail h2 a {
    color: black;
}
.recipe-thumbnail h2:hover {
    overflow: visible;
    white-space: normal;
}
.recipe-thumbnail h2 ~ a img {
    margin-bottom: 30px;
}


/*----------------------- Max Width 766px -----------------------*/

@media screen and (max-width: 766px) {
    .recipe-thumbnail h2 {
        overflow: visible;
        white-space: normal;
    }
}