@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Serena's Favorite Recipes</h1>
    <p class="lead">Welcome to my favorite recipes blog! Here you'll find some recipes I love straight from other sites, recipes I've tweaked, and some I've created myself!</p>
    <p><a class="btn btn-default" href="..\Recipes\Index">View all recipes &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="~/Recipes" style="color: black;">Dessert Recipes &raquo;</a></h2>
        <img class="img img-thumbnail" src="..\..\assets\dessert.jpg" />
    </div>
    <div class="col-md-4">
        <h2><a href="~/Recipes" style="color: black;">Lunch/Dinner Recipes &raquo;</a></h2>
        <img class="img img-thumbnail" src="..\..\assets\lunchdinner.jpg" />
    </div>
    <div class="col-md-4">
        <h2><a href="~/Recipes" style="color: black;">Breakfast Recipes &raquo;</a></h2>
        <img class="img img-thumbnail" src="..\..\assets\breakfast.jpg" />
    </div>
</div>