@{
    ViewBag.Title = "Recipe";
}

<div class="jumbotron">
    <h1>Recipe</h1>
</div>

<div class="row recipe">
    <div class="col-md-8">
        <div class="col-md-12">
            <span class="description">
                Insert description of recipe here.
            </span>
            <hr />
        </div>
        <div class="ingredients col-md-4">
            <h4>Ingredients</h4>
            <ul>
                1. get ingredients
            </ul>
        </div>
        <div class="directions col-md-8">
            <h4>Directions</h4>
            <ol>
                1. cook ingredients
            </ol>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <img class="img img-thumbnail" src="..\..\assets\dessert.jpg" />
    </div>
</div>