@model IEnumerable<RecipesBlog.Models.Recipe>
@{
    ViewBag.Title = ViewBag.Name;
}

<div class="jumbotron">
    <h1>@ViewBag.Name</h1>
</div>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4 recipe-thumbnail">
        <a href=@Url.Action("Recipe", "Recipes", new { id = item.Id, name = item.Name })><img class="img img-thumbnail" src=@item.Image_URL /></a>
        <h2>@Html.ActionLink(item.Name, "Recipe", "Recipes", new { id = item.Id, name = item.Name }, null)</h2>
    </div>
    }
</div>
