@model IEnumerable<RecipesBlog.Models.Recipe>
@{
    ViewBag.Title = "Recipes";
}

<div class="jumbotron">
    <h1>Recipes</h1>
</div>

@foreach (var item in Model)
{
<div class="col-md-4">
    <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
    <a href="~/Recipes/Recipe/@item.Id"><img class="img img-thumbnail" src="..\..\assets\lunchdinner.jpg" /></a>
</div>
}

