@model IEnumerable<RecipesBlog.Models.Recipe>
@{
    ViewBag.Title = "Recipes";
}

<div class="jumbotron">
    <h1>Recipes</h1>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h2>@Html.ActionLink(item.Name, "Recipe", "Recipes", new { id = item.Id, name = item.Name }, new { style = "color:black;" })</h2>
            <a href=@Url.Action("Recipe", "Recipes", new { id = item.Id, name = item.Name })><img class="img-thumbnail img-fluid" src=@item.Image_URL /></a>
        </div>
    }
</div>
