@model IEnumerable<RecipesBlog.Models.Recipe>
@{
    ViewBag.Title = "Recipes";
}

<div class="jumbotron">
    <h1>Recipes</h1>
</div>

@*
<div class="row">
    <div class="col-md-4">
        <h2>Recipe 1</h2>
        <img class="img img-thumbnail" src="..\..\assets\dessert.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Recipe 2</h2>
        <img class="img img-thumbnail" src="..\..\assets\lunchdinner.jpg" />
    </div>
    <div class="col-md-4">
        <h2>Recipe 3</h2>
        <img class="img img-thumbnail" src="..\..\assets\breakfast.jpg" />
    </div>
</div>
*@

@foreach (var item in Model)
{
    <div class="col-md-4">
        <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
        <img class="img img-thumbnail" src="..\..\assets\lunchdinner.jpg" />
    </div>
    @*Testing the view of multiple rows of posts*@
    <div class="col-md-4">
        <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
        <img class="img img-thumbnail" src="..\..\assets\lunchdinner.jpg" />
    </div>
}

