
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form action="@Request.Url.PathAndQuery" method="post">
        <h2>Please sign in to complete action</h2>
        <label for="username" class="control-label">Email address</label>
        <input id="username" name="username" class="form-control" placeholder="Email address" autofocus="" />
        <label for="password" class="control-label">Passowrd</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
        <button class="btn btn-primary" type="submit">Sign in</button>
    </form>
</div>

