@model RecipesBlog.Models.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Index", "Login", new { ReturnUrl = Request.QueryString["ReturnURL"] }, FormMethod.Post))
    {
        if (IsPost)
        {
            <div class="alert alert-danger">Invalid login attempt</div>
        }
        <h2>Please sign in to complete action</h2>
        @Html.LabelFor(m => m.Username, "Email address", new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Email address", autofocus = "" })
        @Html.ValidationMessageFor(m => m.Username)
        if (IsPost)
        { <br /> }
        <label for="password" class="control-label">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" />
        @Html.ValidationMessageFor(m => m.Password)
        <br />
        <button class="btn btn-submit" type="submit">Sign in</button>
    }
</div>

